{% extends 'base.html' %}
{% block content %}
{% load static %}

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        About Acade
      </h2>
      <p class="text-center">
        Welcome to TechEdu, the ultimate destination for learning, growing, and advancing in the world of technology. Our platform offers a wide variety of courses designed to equip you with the skills you need to succeed in today’s digital landscape. Whether you’re interested in web development, data science, artificial intelligence, cybersecurity, or cloud computing, TechEdu has courses tailored to your learning style and career goals.

      </p>
      <div class="about_img-box ">
        <img src="{% static 'assets/images/course-01.jpg' %}" alt="" class="img-fluid w-100">

      </div>
      <p>
      With expert instructors, hands-on projects, and a supportive community, TechEdu ensures that learning is engaging and practical. Join us to gain real-world experience, earn certifications, and stay updated with the latest trends in technology. Start your journey with us and become a part of the tech-savvy future!

      </p>
    </div>
  </section>


  <!-- about section -->



{% endblock %}