{% extends 'base.html' %}

{% block content %}

    

<div  dir="rtl" id="course-form" style="display:block;">
    <div id="course-form" style="display:block; padding: 20px; border: 1px solid #ccc; border-radius: 8px; background-color: #f9f9f9;">
        <h3>Add New category</h3>
        <form  dir="rtl" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              {{formCate}}
              <br>
              <br>
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>

</div>
</div>
   {% endblock %}
